.cta {
  justify-self: center;
  background-color: transparent;
  text-align: center;
  margin: 10vh auto;
  padding: 1em;
  p {
    font-size: 1.3rem;
    font-weight: 500;
  }
}

.definition {
  margin: 0 auto;
  margin-top: -10vh;
  max-width: 30vw;
  text-align: center;
  
  h2 {
    display: inline-block;
    background-color: #bf953f;
    background-image: radial-gradient(
        ellipse farthest-corner at right bottom,
        #fedb37 0%,
        #fdb931 8%,
        #9f7928 30%,
        #8a6e2f 40%,
        transparent 80%
      ),
      radial-gradient(
        ellipse farthest-corner at left top,
        #ffffff 0%,
        #ffffac 8%,
        #d1b464 25%,
        #5d4a1f 62.5%,
        #5d4a1f 100%
      );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  .pronounce {
    display: block;
    font-size: medium;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0 0 0 7%;
    font-family: "Shadows Into Light", cursive;
    background-color: white;
    background-clip: text;
  }
  p {
    font-family: "Source Sans Pro", sans-serif;
    margin-top: -4vh;
  }
}

.waitlist-group form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.waitlist-group input {
  border-radius: .6rem;
  height: 8vh;
  margin-top: 4vh;
  border: none;
}

.waitlist-group input[type=submit] {
  margin-top: 4vh;
  padding-bottom: 1vh;
}



@include breakpoint("phone") {
  .definition {
    max-width: 100vw;
  }

  .waitlist-group input {
    margin: 2vh auto;
  }

  .waitlist-group input[type=submit] {
    margin-top: 1vh;
    
  }


  @include breakpoint("phone-small") {
    .definition {
      margin-top: -10vh;
    }
  }
}