.cta {
  justify-self: center;
  background-color: transparent;
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  p {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.waitlist-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.waitlist-group input {
  border-radius: 1rem;
  height: 8vh;
  width: 20vw;
  margin-right: 5vw;
  border: none;
}