.product-benefits {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3rem;

}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
  font-weight: 700;
}

.product-benefit-1-tagline p {
  font-size: 1.5rem;
}

.product-benefits-group {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(#040812, $mainColor, $secondaryColor);
  min-height: auto;
  padding: 25vh 0 50vh 0;
}

.product-benefit-tagline {
  height: 40vh;
  width: 40vw;
  h1 {
    color: white;
  }
  
}

.product-benefit-1-image {
  height: 70vh;
  width: 30vw;
  background-image: url("../assets/about-us.jpg");
  background-size: 100% 100%;
  margin: 0 10vw;
  box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.17),
    0 20px 40px 0 rgba(0, 0, 0, 0.3);
}



.product-benefit-contact {
  height: auto;
  padding: 25vh 0;
  background-color: $secondaryColor;
  display: flex;
  align-items: center;
  justify-items: center;
  // background-image: linear-gradient($secondaryColor, #000, $mainColor, );
  h1 {
    color: $mainColor;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  input {
    margin: 5vh auto;
    border-radius: .5rem;
    height: 8vh;
    width: 20vw;
    border: none;
  }

  input[type="submit"] {
    width: auto;
  }
}

@include breakpoint("phone") {
  .product-benefits-group {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    padding-bottom: 160vh;
    padding-left: 20vw;
    z-index: 10;
    height: 320vh;
  }

  .product-benefit-1-image {
    width: 60vw;
    margin-left: -1px;
  }
  .product-benefits-group div {
    text-align: center;
  }
  .product-benefit-tagline{
    min-width: 60vw;
  }
  .product-benefit-contact {
    margin: 0;
    padding: 0 0 30vh 0;
  }
  
  .product-benefit-contact input[type=email] {
    width: auto;
    padding: 0 5vw;
  }



  .product-benefit-1-tagline p {
  font-size: .2rem;
}

@include breakpoint("phone-small") {
    .product-benefit-1-image {
      width: 70vw;
      height: 47vh;
      margin-left: -1.3vh;
    }
  }


}