.value-prop {
  background-image: url(../assets/octogon.jpg),
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(4, 8, 18, 1));
  background-repeat: no-repeat;
  background-position: 20% 14%;
  background-blend-mode: overlay;
  background-size: 100% 135%;
  height: 120vh;
  margin-top: -15vh;
  padding: 15vh;

}
.value-prop-content {
  display: flex;
  align-content: center;
  justify-content: center;

}

@include breakpoint("phone") {
  .value-prop {
    height: 140vh;
    background-size: 200% 120%;
    background-position: 50% -20%;
  }

  @include breakpoint("phone-small") {
    .value-prop {
      background-size: 200% 125%;
      height: 110vh;
    }
  }
}
