.value-prop {
  background-image: url(../assets/octo-top-down.jpg),
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  background-size: 67%;
  height: 100vh;
  margin-top: -15vh;
  padding: 15vh;

}
.value-prop-content {
  display: flex;
  align-content: center;
  justify-content: center;

}

@include breakpoint("from-tablet-l") {
  .value-prop-content {
    margin: 2rem auto 3rem auto;
  }

  .main-message {
    grid-column: span 4;
    grid-row: span 8;
  }

  .main-photo {
    grid-column: span 4;
    grid-row: span 8;
  }

  .main-message {
    align-items: center;
    text-align: center;
    button {
      margin: 0;
    }
  }
}
