.button {
  margin: 1.5em;
  padding: .2em 1em 0 1em;
  background-color: $buttonColor;
  color: $backgroundColor;
  border-radius: 1rem;
  border: 0;
  color: $secondaryColor;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
}
